@using WebApplication11.Models.tümsiniflarim
@using PagedList 
@using PagedList.Mvc
@model PagedList.IPagedList<Urun>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered" style="margin-top: 20px;margin-left: 20px;width: 1080px;width: 100%">
    <tr style="background-color:#000000; color:white;">

        <th>ÜRÜN ADI</th>
        <th>MARKA</th>
        <th>DURUM</th>
        <th>DÖNÜŞ TARİHİ</th>
        <th>KİRALAMA FİYATI</th>
        <th>STOK</th>
        <th>ÖZELLİKLER</th>
        <th>FOTOĞRAF</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>

    </tr>
    @foreach (var x in Model)
    {
        <tr>

            <td>@x.Ad</td>
            <td>@x.Marka.Ad</td>
            <td>@x.Durum</td>
            <td>@x.Tarih</td>
            <td>@x.KiralamaFiyat</td>
            <td>@x.Stok</td>
            <td>@x.Ozellikler</td>
            <td>
                <img src="@x.Fotograf" style="width:100px; " />
            </td>
            <td>@Html.ActionLink("Sil", "UrunSil", new { id = x.ID }, new { @class = "btn btn-danger", @style = "background-color:red", onclick = "return confirm('Ürünü Gerçekten Silmek İstiyor Musunuz?')" }) </td>
            <td>@Html.ActionLink("Güncelle", "UrunGetir", new { id = x.ID }, new { @class = "btn btn-default", @style = "background-color:orangered; color:white;" })</td>
        </tr>
    }
</table>
<div class="pagination" style="text-align:center; margin-left:30px;">
    <span>@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }))</span>
</div>
@Html.ActionLink("Yeni Ürün", "UrunEkle", new { }, new { @class = "btn btn-default", @style = "background-color:blue; color:white; margin-top:15px; margin-left:20px;" })


