@model WebApplication11.Models.tümsiniflarim.Admin
@{
    ViewBag.Title = "AdminEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align:center; color:red; margin-top:20px;"> Müşteri Ekleme Sayfası</h1>
@using (Html.BeginForm("AdminEkle", "Admin", FormMethod.Post, new { @style = "margin-top:30px;" }))
{
    <div>
        @Html.LabelFor(x => x.Ad, new { @style = "margin-left:30px; font-weight:bold; " })
        @Html.TextBoxFor(x => x.Ad, new { @class = "form-control", @style = "margin-left:30px; width:1000px" })
        @Html.ValidationMessageFor(x => x.Ad, "", new { @style = "color:red; margin-left:30px;" })
    </div>
    <div>
        @Html.LabelFor(x => x.Soyad, new { @style = "margin-left:30px; font-weight:bold; " })
        @Html.TextBoxFor(x => x.Soyad, new { @class = "form-control", @style = "margin-left:30px; width:1000px" })
        @Html.ValidationMessageFor(x => x.Soyad, "", new { @style = "color:red; margin-left:30px;" })
    </div>
    <div>
        @Html.LabelFor(x => x.TC, new { @style = "margin-left:30px; font-weight:bold; " })
        @Html.TextBoxFor(x => x.TC, new { @class = "form-control", @style = "margin-left:30px; width:1000px" })
        @Html.ValidationMessageFor(x => x.TC, "", new { @style = "color:red; margin-left:30px;" })
    </div>
    <div>
        @Html.LabelFor(x => x.Sifre, new { @style = "margin-left:30px; font-weight:bold; " })
        @Html.TextBoxFor(x => x.Sifre, new { @class = "form-control", @style = "margin-left:30px; width:1000px" })
        @Html.ValidationMessageFor(x => x.Sifre, "", new { @style = "color:red; margin-left:30px;" })
    </div>
    <div>
        @Html.LabelFor(x => x.MAIL, new { @style = "margin-left:30px; font-weight:bold; " })
        @Html.TextBoxFor(x => x.MAIL, new { @class = "form-control", @style = "margin-left:30px; width:1000px" })
        @Html.ValidationMessageFor(x => x.MAIL, "", new { @style = "color:red; margin-left:30px;" })
    </div>
    <div>
        @Html.LabelFor(x => x.TELEFON, new { @style = "margin-left:30px; font-weight:bold; " })
        @Html.TextBoxFor(x => x.TELEFON, new { @class = "form-control", @style = "margin-left:30px; width:1000px" })
        @Html.ValidationMessageFor(x => x.TELEFON, "", new { @style = "color:red; margin-left:30px;" })
    </div>


    <button class="btn btn-default" style="background-color:blue; color:white;margin-left:30px;">Kaydet</button>
    @Html.ActionLink("İptal", "Index", new { }, new { @class = "btn btn-primary", @style = "background-color:red; color:white" })
}


