@using WebApplication11.Models.tümsiniflarim
@model List<Admin>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered" style="margin-top:20px; margin-left:20px;width:1080px;width:100%">
    <tr style="background-color:#000000; color:white;">

        <th>ADI</th>
        <th>SOYADI</th>
        <th>TC</th>
        <th>MAİL</th>
        <th>TELEFON</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>

    </tr>
    @foreach (var x in Model)
    {
        <tr>

            <td>@x.Ad</td>
            <td>@x.Soyad</td>
            <td>@x.TC</td>
            
            <td>@x.MAIL</td>

            <td>@x.TELEFON</td>
            
            <td>@Html.ActionLink("Sil", "AdminSil", new { id = x.ID }, new { @class = "btn btn-danger", @style = "background-color:red", onclick = "return confirm('Ürünü Gerçekten Silmek İstiyor Musunuz?')" }) </td>
            <td>@Html.ActionLink("Güncelle", "AdminCagir", new { id = x.ID }, new { @class = "btn btn-default", @style = "background-color:orangered; color:white;" })</td>
        </tr>
    }
</table>
@Html.ActionLink("Admin Ekle", "AdminEkle", new { }, new { @class = "btn btn-default", @style = "background-color:blue; color:white; margin-top:15px; margin-left:20px;" })




